<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>attack-B1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,37},{48,59}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{65,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,48},{65,48}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B11.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,59},{43,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,45},{43,51}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,0},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,38},{48,58}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{67,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,40},{67,56}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B4.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,185},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,32},{59,64}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B5.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,79},{52,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,21},{52,75}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B6.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,111},{41,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,42},{41,54}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B7.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,166},{41,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,32},{41,64}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{73,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,18},{73,78}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-B9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{70,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,48},{70,48}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>attackB.png</string>
			</dict>
		</dict>
</plist>