<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>attack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,50},{37,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,44}}</string>
				<key>sourceSize</key>
				<string>{37,44}</string>
			</dict>

			<key>attack10.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,140},{44,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,49}}</string>
				<key>sourceSize</key>
				<string>{44,49}</string>
			</dict>

			<key>attack11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>

			<key>attack12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,44}}</string>
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>

			<key>attack13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{49,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,44}}</string>
				<key>sourceSize</key>
				<string>{49,44}</string>
			</dict>

			<key>attack14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,44}}</string>
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>

			<key>attack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,190},{37,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,49}}</string>
				<key>sourceSize</key>
				<string>{37,49}</string>
			</dict>

			<key>attack3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,190},{43,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,49}}</string>
				<key>sourceSize</key>
				<string>{43,49}</string>
			</dict>

			<key>attack4.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,50},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,49}}</string>
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>

			<key>attack5.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,0},{42,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,49}}</string>
				<key>sourceSize</key>
				<string>{42,49}</string>
			</dict>

			<key>attack6.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,0},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

			<key>attack7.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,90},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

			<key>attack8.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,183},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

			<key>attack9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>sideCityzen.png</string>
			</dict>
		</dict>
</plist>