<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>attack-A1.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,110},{39,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,81},{39,15}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A10.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{39,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,67},{39,29}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A2.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,102},{39,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,73},{39,23}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A3.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{39,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,67},{39,29}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,61},{40,35}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A5.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,53},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,48},{39,48}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A6.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,54},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,41},{50,55}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{93,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,43},{93,53}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{75,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,63},{75,33}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>attack-A9.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,0},{43,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,44},{43,52}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>attackA.png</string>
			</dict>
		</dict>
</plist>