<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jump-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,0},{30,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,2},{30,78}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>jump-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{40,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,9},{40,70}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>jump-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,19},{82,61}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>jump-attack-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{81,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,30},{81,50}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>jump-attack-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,62},{62,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,27},{62,53}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>jumpAttack.png</string>
			</dict>
		</dict>
</plist>