<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dead-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,157}}</string>
        <key>sourceSize</key>
        <string>{106,157}</string>
      </dict>
      <key>dead-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{95,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,157}}</string>
        <key>sourceSize</key>
        <string>{95,157}</string>
      </dict>
      <key>dead-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{126,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,149}}</string>
        <key>sourceSize</key>
        <string>{126,149}</string>
      </dict>
      <key>dead-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,157},{126,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,148}}</string>
        <key>sourceSize</key>
        <string>{126,148}</string>
      </dict>
      <key>dead-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{55,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,98}}</string>
        <key>sourceSize</key>
        <string>{55,98}</string>
      </dict>
      <key>dead-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,98},{71,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,59}}</string>
        <key>sourceSize</key>
        <string>{71,59}</string>
      </dict>
      <key>dead-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{82,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,58}}</string>
        <key>sourceSize</key>
        <string>{82,58}</string>
      </dict>
      <key>dead-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,82},{64,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,18}}</string>
        <key>sourceSize</key>
        <string>{64,18}</string>
      </dict>
      <key>dead-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,82},{64,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,18}}</string>
        <key>sourceSize</key>
        <string>{64,18}</string>
      </dict>
      <key>dead-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,82},{64,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,18}}</string>
        <key>sourceSize</key>
        <string>{64,18}</string>
      </dict>
      <key>dead-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{79,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,61}}</string>
        <key>sourceSize</key>
        <string>{79,61}</string>
      </dict>
      <key>dead-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{64,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,18}}</string>
        <key>sourceSize</key>
        <string>{64,18}</string>
      </dict>
      <key>dead-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{58,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,40}}</string>
        <key>sourceSize</key>
        <string>{58,40}</string>
      </dict>
      <key>dead-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,463},{57,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,28}}</string>
        <key>sourceSize</key>
        <string>{57,28}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>dead.png</string>
      <key>size</key>
      <string>{280,585}</string>
      <key>textureFileName</key>
      <string>dead</string>
    </dict>
  </dict>
</plist>
