<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1410},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1692},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,846},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1410},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1692},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,564},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,846},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1128},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1410},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1692},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,0},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,282},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

			<key>frame_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1128},{499,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,281}}</string>
				<key>sourceSize</key>
				<string>{499,281}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>loading.png</string>
			</dict>
		</dict>
</plist>