<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nyt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,95},{74,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,94}}</string>
				<key>sourceSize</key>
				<string>{74,94}</string>
			</dict>

			<key>nyt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,0},{73,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,94}}</string>
				<key>sourceSize</key>
				<string>{73,94}</string>
			</dict>

			<key>nyt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{76,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,94}}</string>
				<key>sourceSize</key>
				<string>{76,94}</string>
			</dict>

			<key>nyt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,0},{69,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>

			<key>nyt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,95},{69,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>

			<key>nyt6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{78,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,94}}</string>
				<key>sourceSize</key>
				<string>{78,94}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>sideCityzen.png</string>
			</dict>
		</dict>
</plist>