<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dead-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{35,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,42},{35,54}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>dead-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,13},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,54},{38,42}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>dead-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,13},{52,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,77},{52,19}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>dead-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{61,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,84},{61,12}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>dead.png</string>
			</dict>
		</dict>
</plist>