<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>defence0.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,102},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>

			<key>defence1.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,170},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>

			<key>defence10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,33}}</string>
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>

			<key>defence11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{36,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,39}}</string>
				<key>sourceSize</key>
				<string>{36,39}</string>
			</dict>

			<key>defence12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{36,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,29}}</string>
				<key>sourceSize</key>
				<string>{36,29}</string>
			</dict>

			<key>defence13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,16},{36,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,23}}</string>
				<key>sourceSize</key>
				<string>{36,23}</string>
			</dict>

			<key>defence14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{36,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,15}}</string>
				<key>sourceSize</key>
				<string>{36,15}</string>
			</dict>

			<key>defence15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{36,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,15}}</string>
				<key>sourceSize</key>
				<string>{36,15}</string>
			</dict>

			<key>defence2.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,136},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>

			<key>defence3.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,204},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>

			<key>defence4.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,68},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>

			<key>defence5.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,34},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{25,33}</string>
			</dict>

			<key>defence6.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,0},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,33}}</string>
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>

			<key>defence7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,33}}</string>
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>

			<key>defence8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,33}}</string>
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>

			<key>defence9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,33}}</string>
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>sideCityzen.png</string>
			</dict>
		</dict>
</plist>