<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{50,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,39},{50,57}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>hit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{51,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,38},{51,58}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

			<key>hit-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,59},{50,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,38},{50,58}}</string>
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>hit.png</string>
			</dict>
		</dict>
</plist>