<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hit-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,157}}</string>
        <key>sourceSize</key>
        <string>{106,157}</string>
      </dict>
      <key>hit-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{95,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,157}}</string>
        <key>sourceSize</key>
        <string>{95,157}</string>
      </dict>
      <key>hit-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{126,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,148}}</string>
        <key>sourceSize</key>
        <string>{126,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>hit.png</string>
      <key>size</key>
      <string>{126,462}</string>
      <key>textureFileName</key>
      <string>hit</string>
    </dict>
  </dict>
</plist>
