<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spr_Idle_strip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,36},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>

			<key>spr_Idle_strip_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>

			<key>spr_Idle_strip_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>

			<key>spr_Idle_strip_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,34},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{36,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,33}}</string>
				<key>sourceSize</key>
				<string>{36,33}</string>
			</dict>

			<key>spr_Idle_strip_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,36},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,36},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,36},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,36},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,36},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,34},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>

			<key>spr_Idle_strip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,70},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>

			<key>spr_Idle_strip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,72},{34,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,37}}</string>
				<key>sourceSize</key>
				<string>{34,37}</string>
			</dict>

			<key>spr_Idle_strip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>sideCityzen.png</string>
			</dict>
		</dict>
</plist>