<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>villager-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,37},{25,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{25,36}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>villager-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{24,36}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>villager-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{26,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{26,36}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{32,128}</string>
			<key>textureFileName</key>
			<string>villager-idle.png</string>
			</dict>
		</dict>
</plist>